{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
    <h1>Vehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Immatriculation</th>
                <th>PrixJournalier</th>
                <th>Description</th>
                <th>Disponibilite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.Marque }}</td>
                <td>{{ vehicule.Immatriculation }}</td>
                <td>{{ vehicule.prixJournalier }}</td>
                <td>{{ vehicule.Description }}</td>
                <td>{{ vehicule.Disponibilite ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_vehicule_show', {'id': vehicule.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vehicule_new') }}">Create new</a>
{% endblock %}
